/*动画*/
.fade-enter-active,
.fade-leave-active {
  transition: all .2s linear;
  transform: translate3D(0, 0, 0);
}
.fade-enter,
.fade-leave-active {
  transform: translate3D(100%, 0, 0);
}
/* bigimg */
.img-view {
  position: inherit;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/*遮罩层样式*/
.img-view .img-layer {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*不限制图片大小，实现居中*/
.img-view .img img {
  max-width: 100%;
  display: block;
  // position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  position: fixed;
  top: 50%; /*偏移*/
  transform: translateY(-50%);
  //  “包含”。保持原有尺寸比例缩放。保证整个图片都可以出现在容器中。因此，此参数可能会在容器内留下空白。
  object-fit:contain;
  // 图片缩放---高度满屏
  height:100vh;
}